export GOOGLE_CLIENT_ID="1028781070430-0lsgcavj5mmi6n1up084qh16peg8ljah.apps.googleusercontent.com"
export GOOGLE_CLIENT_SECRET="oVcSe-sbbuz019KtEBrsSPIS"


export ACCESS_TOKEN_SECRET=sjaei283hqio34829rajkskfjJi83y2U8Y7WQU83YQ83UHFia84jdajkajfakvlnjeiafjvneoi834eirhfdjzvnc
export REFRESH_TOKEN_SECRET=jkada48jhJA84jfai84JAFI4Ji94iqq4utj84UJA449jajqp8jaurj84jal4qhjall884JAhreqiierou4ijarei